/* css block 1
@import url("font.css");

body{
  background-color:rgb(169, 235, 169);
}
h1{
  color: red;
}
p{
  color: blue;
} */

/* css block 2 */
@font-face {
  font-family: BebasNeue-Regular;
  src: url("../fonts/BebasNeue-Regular.woff") format("woff");
  src: url("../fonts/BebasNeue-Regular.woff2") format("woff2");
  src: url("../fonts/BebasNeue-Regular.ttf") format("ttf");
}

@font-face {
  font-family: RubikDoodleShadow-Regular;
  src: url("../fonts/RubikDoodleShadow-Regular.woff") format("woff");
  src: url("../fonts/RubikDoodleShadow-Regular.woff2") format("woff2");
  src: url("../fonts/RubikDoodleShadow-Regular.ttf") format("ttf");
}

h1{
  font-family: Rubik Doodle Triangles;
  font-size: 30px;
}

h2{
  font-family: RubikDoodleShadow-Regular;
}
h3{
  font-family: Rubik Doodle Triangles;
}
p{
  margin: 0;
}
.px{
  font-size: 30px;
}
.cm{
  font-size: 2cm;
}
.in{
  font-size: 3in;
}
.pt{
  font-size: 8pt;
}
.pc{
  font-size: 2pc;
}
.em {
  font-size: 20px;
}
.em span{
  font-size: 2em;
}
.percent{
  font-size: 200%;
}
.span_percent{
  font-size: 200%;
}

.vh{
  font-size: 5vh;
}
.vw{
  font-size: 8vw;
}
.vmin{
  font-size: 7vmin;
}
.vmax{
  font-size: 11vmax;
}